<form method="post" action="proceso" enctype="multipart/form-data">
    Subir imagen: <input type="file" name="file[]" multiple>
    <input type="submit" value="Subir imágenes" />
 </form>
{{!-- ESTO ES PARA SUBIR MULTIPLES IMAGENES
DESDE EL BACKEND SE MANIPULA COMO REQ.FILES --}}