{{>header}}
<body><section id="hero">
    <div class="hero-container">
      <div class="wow fadeIn">
        <div class="hero-logo">
          <img class="" src="assets/img/logo.png" alt="Arrendemos Juntos">
        </div>
        <h1>Arrendemos Juntos</h1>
        <h2>Esta aplicación web esta dirigida para quien necesite ofertar y/o demandar arriendo orientado a la ayuda a inmigrantes.d</h2>
        <div class="actions">
          <a href="registro" class="btn-get-started">Registrate!</a>
          <a href="login" class="btn-services">Inicia Sesión</a>
        </div>
      </div>
    </div>
  </section>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>

