<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Arrendemos Juntos</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/fonts/ionicons.min.css">
    <link rel="stylesheet" href="assets/css/Highlight-Clean.css">
    <link rel="stylesheet" href="assets/css/Index.css">
    <link rel="stylesheet" href="assets/css/Login-Form-Clean.css">
    <link rel="stylesheet" href="assets/css/Navigation-Clean.css">
    <link rel="stylesheet" href="assets/css/Registration-Form-with-Photo.css">
    <link rel="stylesheet" href="assets/css/styles.css">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <meta name="google-signin-client_id" content="881237089729-vfkd60ovftgdunot30gcndj854n4be9s.apps.googleusercontent.com">
</head>
<body><section id="hero">
    <div class="hero-container">
      <div class="wow fadeIn">
        <div class="hero-logo">
          <img class="" src="assets/img/logo.png" alt="Arrendemos Juntos">
        </div>
        <h1>Arrendemos Juntos</h1>
        <h2>Esta aplicación web esta dirigida para quien necesite ofertar y/o demandar arriendo orientado a la ayuda a inmigrantes.d</h2>
        <div class="actions">
          <a href="registro" class="btn-get-started">Registrate!</a>
          <a href="login" class="btn-services">Inicia Sesión</a>
        </div>
      </div>
    </div>
  </section>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>

