{{>header}}
<body>
    <div class="register-photo">
        <div class="form-container">
            <form method="post">
                <h2 class="text-center"><strong>Registrate!</strong></h2>
                <div class="form-group">Email<input class="form-control" type="email" name="email" placeholder="email@email.com"></div>
                <div class="form-group">Nombre<input class="form-control" type="text" name="nombre" placeholder="Juanillo pillo"></div>
                <div class="form-group">Imagen<input class="form-control" type="text" name="img" placeholder="img.jpg"></div>
                <div class="form-group">Genero<input class="form-control" type="text" name="genero" placeholder="Masculine"></div>
                <div class="form-group">País
                <select class="form-control" name="nacionalidad">
                    {{# each pais}}
                    <option>{{this}}</option>
                    {{/each}}
                </select>
                </div>
                <div class="form-group">Telefono<input class="form-control" type="text" name="telefono" placeholder="+56955380300"></div>
                <div class="form-group">Ocupación<input class="form-control" type="text" name="ocupacion" placeholder="Estudiante"></div>
                <div class="form-group">Contraseña<input class="form-control" type="password" name="password" placeholder="******"></div>
                <div class="form-group">Contraseña(repeat)<input class="form-control" type="password" name="password-repeat" placeholder="******"></div>
                <div class="form-group">
                    <div class="form-check"><label class="form-check-label"><input class="form-check-input" type="checkbox">I agree to the license terms.</label></div>
                </div>
                <div class="form-group"><button class="btn btn-primary btn-block" type="submit">Aceptar</button></div>
            </form>
        </div>
    </div>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>